.movie-list {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  color: white;
  justify-content: center;
}
.movie-card {
  border: 10px solid white;
  padding: 20px;
  margin: 10px;
  width: 25%;
  height: 600px;
}
.movie-image {
  width: 80%;
  height: 300px;
  padding: 10px;
}
